.itemsScroll{
  width: 90%;
  overflow-x:auto; /* 가로 스크롤 기능 유지 */
  scrollbar-width: none; /* Firefox에서 스크롤 바 숨기기 */
  -ms-overflow-style: none; /* IE, Edge에서 스크롤 바 숨기기 */
}

.itemsScroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari에서 스크롤 바 숨기기 */
}

.itemsContainer {
  display: grid;
  grid-auto-flow: column; /* 세로 방향으로 먼저 채우기 */
  grid-template-rows: repeat(3, auto); /* 3행 배치 */
  grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
  gap: 1.875rem;
  width: fit-content;
}

.reviewCard {
  background: #2D2D2D;
  border-radius: 0.625rem;
  padding: 14px;
  display: flex;
  white-space: normal;
  box-sizing: border-box;
  width: 33rem;
}

.reviewImage{
  object-fit: cover;
  width: 140px;
  height: 140px;
  border-radius: 0.5rem;
}

.reviewContent {
  width: 100%;
  margin-left: 2%;
  margin-top: 4%;
}

.reviewTitle {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0;
}

.reviewreviewaddress {
  font-size: 0.875rem;
  color: #bbb;
  margin: 0;
}

.reviewDate {
  font-size: 0.75rem;
  color: #888;
}