# Application
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_ENV=development

# Kakao OAuth and Maps
NEXT_PUBLIC_KAKAO_CLIENT_ID=
NEXT_PUBLIC_KAKAO_REDIRECT_URI=http://localhost:3005/login/kakao
NEXT_PUBLIC_KAKAO_MAP_KEY=
NEXT_PUBLIC_KAKAO_REST_API_KEY=

# Google OAuth
NEXT_PUBLIC_GOOGLE_ID=
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=http://localhost:3005/login/google
