.home .homeImage {
  width: 100%;
  height: auto;
  opacity: 0.75;
}

.home .textContainer1 {
  position: absolute;
  top: 45%;
  left: 25%;
  width: 20%;
  height: auto;
  transform: translate(-50%, -50%);
  color: white;
}

.home .textContainer2 {
  position: absolute;
  top: 45%;
  left: 75%;
  width: 20%;
  height: auto;
  transform: translate(-50%, -50%);
  color: white;
}
