.login {
  width: 100%;
  min-height: 90vh;
  background-color: #121212;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.login .logincontainer{
  display: flex;
  flex-direction: column;
}

.login .loginTitle {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  margin: 0 ;
  margin-bottom: 1rem;
}

.login .loginButton{
  display: flex;
  flex-direction: column; 
  gap: 1rem;
}